.button-default {
    -fx-background-radius: 7,6,5;
    -fx-background-insets: 1,2,3;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.7) , 5, 0.1 , 0 , 1 );
}

.button-default:pressed {
    -fx-background-radius: 6,5,4;
    -fx-background-insets: 2,3,4;
}

.blue {
    -fx-background-color:
        linear-gradient(#f2f2f2, #070090),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #070090 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
}

.blue:hover {
    -fx-background-color:
        linear-gradient(#070090, #070090),
        linear-gradient(#070090 0%, #070090 20%, #070090 100%),
        linear-gradient(#f6f6f6 25%, #dddddd 75%);
}

.green {
    -fx-background-color:
        linear-gradient(#f2f2f2, #0a9a00),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #0a9a00 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
}

.green:hover {
    -fx-background-color:
        linear-gradient(#0a9a00, #0a9a00),
        linear-gradient(#0a9a00 0%, #0a9a00 20%, #0a9a00 100%),
        linear-gradient(#f6f6f6 25%, #dddddd 75%);
}

.red {
    -fx-background-color:
        linear-gradient(#f2f2f2, #ff3333),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #ff3333 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
}

.red:hover {
    -fx-background-color:
        linear-gradient(#ff3333, #ff3333),
        linear-gradient(#ff3333 0%, #ff3333 20%, #ff3333 100%),
        linear-gradient(#f6f6f6 25%, #dddddd 75%);
}